//META{"name":"LFG","description":"LFG","author":"Leaversa","version":"1.1"}*//{}

.theme-dark .lfg-3xoFkI {
	background: rgba(0, 0, 0, 0.5);
}
.buttonGreyFilled-3qPP_J {
    background-color: rgba(255, 98, 98, 0.7);
}
.theme-dark .card-11ynQk:before {
    background-color: rgba(51, 54, 60, 0.44);
}
.pill-1nbD-Z {
	    background-color: rgba(255, 98, 98, 0.7);
}
.theme-dark .pill-1nbD-Z:hover {
    background-color: rgba(255, 98, 98, 0.9);
}
.buttonGreenFilled-6QHNrw {
	background-color: rgba(255, 98, 98, 0.7);
}
.buttonGreenFilled-6QHNrw:hover {
	background-color: rgba(255, 98, 98, 0.9);
}